body {
    background-image: url(https://www.grafikart.fr/uploads/posts/1/508.jpg);
    background-repeat: no-repeat;
    background-size: 100% ;
}
h1{
    font-family: Jazz LET, fantasy;
    margin-left: 30%;
}